@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
  display: flex;
  flex-direction: column;

  &__books {
    padding: 0 1rem 1rem;
    font-size: 0.75rem;
    line-height: 1rem;

    @include tablet {
      display: flex;
      padding: 1.5rem;
      font-size: 1rem;
      line-height: 1.25rem;
      justify-content: space-around;
    }

    &--blue {
      color: $teal;
    }
  }

  &__books-container {
    @include tablet {
      width: 40%;
    }

    &--margin-left {
      @include tablet {
        padding-left: 2rem;
      }
    }
  }

  &__book-titles {
    font-size: 0.9rem;
    display: block;
    @include tablet {
      font-size: 1.1rem;
    }
  }
}
