@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
  display: flex;
  flex-direction: column;

  &__books {
    padding: 0 1rem;
    font-size: 0.75rem;

    @include tablet {
      display: flex;
      padding: 0.5rem 1.5rem;
      font-size: 1rem;
      line-height: 1.25rem;
      justify-content: space-around;
    }
  }

  &__book-container {
    @include tablet {
      width: 40%;
    }

    &--margin-left {
      @include tablet {
        padding-left: 2rem;
      }
    }
  }

  &__book-titles {
    font-size: 0.9rem;
    display: block;
    padding-bottom: 1rem;
    font-style: italic;
    @include tablet {
      font-size: 1.3rem;
    }
  }

  &__book-list-items {
    border-top: 1px solid $main-blue;
    padding: 1rem 0;
  }

  &__book-list-items--border {
    border-bottom: 1px solid $main-blue;
    margin-bottom: 1rem;
  }
}
