@use "../../styles/partials/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Roboto+Mono:wght@400;600&display=swap");

.nav {
  background-color: $black;
  color: $teal;

  &__header {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-decoration: none;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.5rem;
  }

  &__list-item {
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding-bottom: 0.5rem;

    &:hover {
      color: white;
    }
  }

  &__list-item-active {
    border-bottom: solid 1px white;
    color: white;
  }
}
